<p id="notice"><%= notice %></p>

<p>
  <strong>P1:</strong>
  <%= @pattern.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @pattern.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @pattern.p3 %>
</p>

<%= link_to 'Edit', edit_pattern_path(@pattern) %> |
<%= link_to 'Back', patterns_path %>
